@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Licorice&family=Lobster&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	min-height: 75.3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	font-family: "Bebas Neue", cursive;
	margin-bottom: 0.7em;
}

.myForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.myInput {
	margin: 0.5em;
	padding: 0.5em 0.5em;
	width: 30%;
	border: 2px solid black;
	border-radius: 7px;
	outline: none;
}

/* #descBox {
    margin: 0.5em;
    padding: 0.5em 0.5em;
    width: 30%;
    height: 100%;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
} */

.btn {
	margin-top: 0.5em;
	padding: 0.2em 0.5em;
	border: 2px solid black;
	border-radius: 7px;
	cursor: pointer;
	background-color: gray;
	color: white;
	font-family: "Bebas Neue", cursive;
	font-size: 1.2em;
}

.btn:hover {
	margin-top: 0.5em;
	padding: 0.2em 0.5em;
	border: 2px solid black;
	border-radius: 7px;
	cursor: pointer;
	background-color: rgb(27, 22, 22);
	color: white;
	font-family: "Bebas Neue", cursive;
	font-size: 1.2em;
}
